# Default values for glueops-argocd.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.


captain_domain: nil

gitHub:
  sshKey: "base64-ssh-key"
  credentialTemplateUrl: "Z2l0QGdpdGh1Yi5jb20=" #git@github.com
  customer_github_org_and_team: "org:team"

externalDns:
  aws_accessKey: nil
  aws_secretKey: nil
  aws_region: nil

certManager:
  zerossl_eab_hmac_key: nil
  zerossl_eab_kid: nil
  aws_region: nil
  aws_accessKey: nil
  aws_secretKey: nil

vault:
  config:
    glues_env: nil

grafana:
  github_client_id: nil
  github_client_secret: nil
  github_org_names: nil

argo-cd:
  glueops:
    enabled: false
    github_client_id: nil
    github_client_secret: nil
    destination_cluster_for_core_apps: "in-cluster"
    ingress_controller_service_type: "LoadBalancer"
    ingress_controller_host_port_enabled: false
  server:
    config:
      exec.enabled: "true"
      resource.customizations.health.argoproj.io_Application: |
        hs = {}
        hs.status = "Progressing"
        hs.message = ""
        if obj.status ~= nil then
          if obj.status.health ~= nil then
            hs.status = obj.status.health.status
            if obj.status.health.message ~= nil then
              hs.message = obj.status.health.message
            end
          end
        end
        return hs
      resource.customizations.health.app.terraform.io_Workspace: |
        hs = {}
        hs.status = "Degraded"
        hs.message = ""
        if obj.status ~= nil then
          if obj.status.runStatus == "applied" then
            hs.status = "Healthy"
          end
        end
        return hs
    rbacConfig: nil
    extraArgs:
      - --insecure
    service:
      type: ClusterIP
    ingress:
      enabled: true
      hosts: nil
      annotations:
        cert-manager.io/cluster-issuer: glueops-cert-zerossl-prod
        kubernetes.io/ingress.class: "internal-ingress-nginx"
      tls: 
        - 
          hosts: 
            - nil
          secretName: echo-tls
