apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cert-manager
spec:
  destination:
    name: {{ index .Values "argo-cd" "glueops" "destination_cluster_for_core_apps" }}
    namespace: glueops-core-cert-manager
    server: ''
  source:
    path: ''
    repoURL: 'https://glueops.github.io/platform-helm-charts'
    targetRevision: 0.5.0
    helm:
      skipCrds: true
      parameters:
        - name: cert-manager.cloudflare_api_token
          value: {{ .Values.certManager.cloudflare_api_token }}
        - name: cert-manager.zerossl_eab_hmac_key
          value: {{ .Values.certManager.zerossl_eab_hmac_key }}
        - name: cert-manager.zerossl_eab_kid
          value: {{ .Values.certManager.zerossl_eab_kid }}
    chart: glueops-cert-manager
  project: glueops-core
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    retry:
      backoff:
        duration: 10s
        factor: 2
        maxDuration: 3m0s
      limit: 5