{{- if .Values.traefik.public_lb.enabled -}}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: glueops-core-public-traefik
  annotations:
    argocd.argoproj.io/sync-wave: "0"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    name: in-cluster
    namespace: glueops-core-public-traefik
  project: glueops-core
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      prune: true
      selfHeal: true
    retry:
      backoff:
        duration: 10s
        factor: 2
        maxDuration: 3m0s
      limit: 5
  source:
    repoURL: https://traefik.github.io/charts
    chart: traefik
    targetRevision: 39.0.0
    helm:
      # CRITICAL: CRDs are installed by the CRD-only app
      skipCrds: true
      values: |-
        ingressClass:
          enabled: true
          isDefaultClass: false
          name: public-traefik
      {{- if .Values.kubeadm.enabled }}
        nodeSelector:
          use-as-loadbalancer: public-traefik
      {{- end }}
        providers:
          kubernetesIngress:
            enabled: true
            ingressClass: public-traefik
            publishedService:
              enabled: true
          kubernetesCRD:
            enabled: true
            ingressClass: public-traefik
            allowCrossNamespace: true
            namespaces:
              - glueops-core-public-traefik
              - glueops-core-oauth2-proxy
              - {{ (split "." .Values.captain_domain)._0 }}

        service:
          type: LoadBalancer
          labels:
            use-as-loadbalancer: "public"
            gluekube-dns: public-lb-traefik.{{ .Values.captain_domain }}
          annotations:
            service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
            external-dns.alpha.kubernetes.io/hostname: public-v2.{{ .Values.captain_domain }}
          spec:
            externalTrafficPolicy: Local


        deployment:
          replicas: {{ .Values.traefik.public_lb.deployment_replicas }}
        
        {{ .Values.traefik.shared_helm_values | toYaml | nindent 8 }}

        ingressRoute:
          dashboard:
            enabled: true
            entryPoints: ["websecure"]
            matchRule: Host(`dashboard-traefik-public-v2.{{ .Values.captain_domain }}`)
            middlewares:
              - name: oauth2-with-redirect
                namespace: glueops-core-oauth2-proxy
            annotations:
              external-dns.alpha.kubernetes.io/hostname: dashboard-traefik-public-v2.{{ .Values.captain_domain }}
              external-dns.alpha.kubernetes.io/target: public-v2.{{ .Values.captain_domain }}



{{- end }}
