apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: glueops-cluster-info-page
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    name: "in-cluster"
    namespace: glueops-core-cluster-info-page
  project: glueops-core
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      prune: true
      selfHeal: true
    retry:
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m0s
      limit: 2
  source:
    repoURL: https://helm.gpkg.io/project-template
    chart: app
    targetRevision: 0.9.0
    helm:
      values: |+
        appName: "glueops-cluster-info-page"

      
        image:
          registry: {{ .Values.container_images.app_cluster_info_page.cluster_information_help_page_html.image.registry }}
          repository: {{ .Values.container_images.app_cluster_info_page.cluster_information_help_page_html.image.repository }}
          tag: {{ .Values.container_images.app_cluster_info_page.cluster_information_help_page_html.image.tag }}
          pullPolicy: IfNotPresent
          port: 8080
        
        
        service:
          enabled: true
        
        deployment:
          replicas: 1
          enabled: true
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              cpu: 10m
              memory: 15Mi
          envVariables:
            - name: CAPTAIN_DOMAIN
              value: "{{ .Values.captain_domain }}"
            - name: INTERNAL_LB_ENABLED
              value: "{{ if .Values.traefik.internal_lb.enabled }}TRUE{{ else }}FALSE{{ end }}"
        
        ingress:
          enabled: true
          ingressClassName: platform-traefik
          annotations:
            traefik.ingress.kubernetes.io/router.entrypoints: websecure
            traefik.ingress.kubernetes.io/router.tls: "true"
            traefik.ingress.kubernetes.io/router.middlewares: glueops-core-oauth2-proxy-oauth2-with-redirect@kubernetescrd

            #nginx.ingress.kubernetes.io/auth-signin: "https://oauth2.{{ .Values.captain_domain }}/oauth2/start?rd=https://$host$request_uri"
            #nginx.ingress.kubernetes.io/auth-url: "https://oauth2.{{ .Values.captain_domain }}/oauth2/auth"
            #nginx.ingress.kubernetes.io/auth-response-headers: "authorization, x-auth-request-user, x-auth-request-email, x_auth_request_access_token"
          entries:
            - name: glueops-platform
              hosts:
                - hostname: cluster-info.{{ .Values.captain_domain }}
