apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cert-manager
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  destination:
    name: {{ index .Values "argo-cd" "glueops" "destination_cluster_for_core_apps" }}
    namespace: glueops-core-cert-manager
  source:
    path: ''
    repoURL: 'https://helm.gpkg.io/platform'
    targetRevision: 0.3.0
    helm:
      skipCrds: true
      parameters:
        - name: cert-manager.zerossl_eab_hmac_key
          value: {{ .Values.certManager.zerossl_eab_hmac_key }}
        - name: cert-manager.zerossl_eab_kid
          value: {{ .Values.certManager.zerossl_eab_kid }}
        - name: cert-manager.aws_region
          value: {{ .Values.certManager.aws_region }}
        - name: cert-manager.aws_accessKey
          value: {{ .Values.certManager.aws_accessKey }}
        - name: cert-manager.aws_secretKey
          value: {{ .Values.certManager.aws_secretKey }}
        - name: cert-manager.captain_domain
          value: {{ .Values.captain_domain }}
        - name: cert-manager.prometheus.enabled
          value: "true"
        - name: cert-manager.prometheus.servicemonitor.enabled
          value: "true"
    chart: glueops-cert-manager
  project: glueops-core
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      prune: true
      selfHeal: true
    retry:
      backoff:
        duration: 10s
        factor: 2
        maxDuration: 3m0s
      limit: 5