apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: oauth2-forwardauth
  namespace: glueops-core-oauth2-proxy
spec:
  forwardAuth:
    address: https://oauth2.{{ .Values.captain_domain }}/oauth2/auth
    trustForwardHeader: true
    authResponseHeaders:
      - authorization
      - x-auth-request-user
      - x-auth-request-email
      - x-auth-request-access-token
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: oauth2-errors
  namespace: glueops-core-oauth2-proxy
spec:
  errors:
    status:
      - "401-403"
    service:
      name: oauth2-proxy
      port: 80
    query: /oauth2/start?rd=https://{host}{uri}
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: oauth2
  namespace: glueops-core-oauth2-proxy
spec:
  chain:
    middlewares:
      - name: oauth2-forwardauth
      - name: oauth2-errors
