apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: glueops-platform-ingress-nginx
  annotations:
    argocd.argoproj.io/sync-wave: "0"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    name: "in-cluster"
    namespace: glueops-core-glueops-platform-ingress-nginx
  project: glueops-core
  syncPolicy:
    syncOptions:
      - CreateNamespace=true  
    automated:
      prune: true
      selfHeal: true
    retry:
      backoff:
        duration: 10s
        factor: 2
        maxDuration: 3m0s
      limit: 5
  source:
    repoURL: 'https://kubernetes.github.io/ingress-nginx'
    chart: ingress-nginx
    targetRevision: 4.13.3
    helm:
      values: |-
        defaultBackend:
          image:
            registry: {{ .Values.base_registries.registry_k8s_io }}
        controller:
          {{- toYaml .Values.glueops_node_and_tolerations | nindent 10 }}
          admissionWebhooks:
            patch:
              image:
                registry: {{ .Values.base_registries.registry_k8s_io }}
          opentelemetry:
            image:
              registry: {{ .Values.base_registries.registry_k8s_io }}
          image:
            registry: {{ .Values.base_registries.registry_k8s_io }}
            image: {{ .Values.container_images.app_ingress_nginx.controller.image.repository }}
            tag: {{ .Values.container_images.app_ingress_nginx.controller.image.tag }}
            digest: ""
          admissionWebhooks:
            enabled: false
          replicaCount: {{ .Values.nginx.controller_replica_count }}
          maxUnavailable: 1
          config:
            use-forwarded-headers: true
            ssl-reject-handshake: true
            {{- if .Values.enable_chisel_proxy_protocol }}
            use-proxy-protocol: "true"
            {{- end }}
            # https://github.com/kubernetes/ingress-nginx/blob/main/docs/user-guide/nginx-configuration/log-format.md
            # https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/
            log-format-upstream: '{
                                   "time_iso8601": "$time_iso8601", 
                                   "msec": "$msec",
                                   "remote_addr": "$remote_addr", 
                                   "request": "$request",
                                   "proxy_protocol_addr": "$proxy_protocol_addr", 
                                   "x_forwarded_for": "$proxy_add_x_forwarded_for", 
                                   "req_id": "$req_id",
                                   "remote_user": "$remote_user",
                                   "bytes_sent": $bytes_sent,
                                   "request_time": $request_time,
                                   "status": $status, 
                                   "body_bytes_sent": "$body_bytes_sent",
                                   "host": "$host",
                                   "server_protocol": "$server_protocol",
                                   "uri": "$uri",
                                   "args": "$args",
                                   "request_length": $request_length,
                                   "proxy_upstream_name": "$proxy_upstream_name", 
                                   "proxy_alternative_upstream_name": "$proxy_alternative_upstream_name",
                                   "upstream_addr": "$upstream_addr",
                                   "upstream_response_length": "$upstream_response_length",
                                   "upstream_response_time": "$upstream_response_time", 
                                   "upstream_status":"$upstream_status",
                                   "request_method": "$request_method",
                                   "http_referer": "$http_referer",
                                   "namespace": "$namespace",
                                   "ingress_name": "$ingress_name", 
                                   "service_name": "$service_name", 
                                   "service_port": "$service_port",
                                   "http_host": "$http_host",
                                   "scheme": "$scheme",
                                   "server_name": "$server_name",
                                   "upstream_cache_status": "$upstream_cache_status",
                                   "request_id": "$request_id",
                                   "ssl_protocol": "$ssl_protocol",
                                   "ssl_cipher": "$ssl_cipher",
                                   "http_user_agent": "$http_user_agent"
                                   }' 
          extraArgs:
            default-ssl-certificate: glueops-core-cert-manager/{{ .Values.certManager.name_of_default_certificate }}
          service:
            annotations:
              service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
              external-dns.alpha.kubernetes.io/hostname: glueops-platform-ingress.{{ .Values.captain_domain }}
              {{- if .Values.enable_chisel_proxy_protocol }}
              chisel-operator.io/proxy-protocol: "true"
              {{- end }}
            type: "LoadBalancer"
            {{- if .Values.kubeadm.enabled }}
            externalIPs: [{{ .Values.private_loadbalancer_ips.public | join ", " }}]
            {{- end }}
            externalTrafficPolicy: "Local"
            internal:
              enabled: {{ .Values.nginx.internal.enabled }}
              type: "ClusterIP"
              {{- if .Values.kubeadm.enabled }}
              externalIPs: [{{ .Values.private_loadbalancer_ips.private | join ", " }}]
              {{- end }}
              annotations:
                service.beta.kubernetes.io/aws-load-balancer-type: nlb

          updateStrategy:
            rollingUpdate:
              maxSurge: 1
              maxUnavailable: 0
          metrics:
            enabled: true
            serviceMonitor:
              enabled: true
          electionID: glueops-platform-ingress-nginx-leader
          ingressClassByName: true
          ingressClass: glueops-platform
          ingressClassResource:
            name: glueops-platform
            enabled: true
            default: false
            controllerValue: "k8s.io/glueops-platform-ingress-nginx"
          affinity: 
            nodeAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                nodeSelectorTerms:
                - matchExpressions:
                  - key: use-as-lb
                    operator: In
                    values:
                      - "true"
            podAntiAffinity:
              preferredDuringSchedulingIgnoredDuringExecution:
              - weight: 100
                podAffinityTerm:
                  labelSelector:
                    matchExpressions:
                    - key: app.kubernetes.io/name
                      operator: In
                      values:
                      - ingress-nginx
                    - key: app.kubernetes.io/instance
                      operator: In
                      values:
                      - public-ingress-nginx
                    - key: app.kubernetes.io/component
                      operator: In
                      values:
                      - controller
                  topologyKey: kubernetes.io/hostname
         