apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: oauth2-proxy
  annotations:
    argocd.argoproj.io/sync-wave: "0"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    name: "in-cluster"
    namespace: glueops-core-oauth2-proxy
  project: glueops-core
  syncPolicy:
    syncOptions:
      - CreateNamespace=true  
    automated:
      prune: true
      selfHeal: true
    retry:
      backoff:
        duration: 10s
        factor: 2
        maxDuration: 3m0s
      limit: 5
  source:
    repoURL: 'https://oauth2-proxy.github.io/manifests'
    chart: oauth2-proxy
    targetRevision: 9.0.1
    helm:
      values: |-
          {{- toYaml .Values.glueops_node_and_tolerations | nindent 10 }}
          proxyVarsAsSecrets: false
          global:
            imageRegistry: {{ .Values.base_registries.quay_io }}
          image:
            registry: {{ .Values.container_images.app_oauth2_proxy.oauth2_proxy.image.registry }}
            repository: {{ .Values.container_images.app_oauth2_proxy.oauth2_proxy.image.repository }}
            tag: {{ .Values.container_images.app_oauth2_proxy.oauth2_proxy.image.tag }}
          ingress:
            enabled: true
            className: platform-traefik
            annotations:
              cert-manager.io/cluster-issuer: letsencrypt
              traefik.ingress.kubernetes.io/router.entrypoints: websecure
              traefik.ingress.kubernetes.io/router.tls: "true"
            hosts:
              - oauth2.{{ .Values.captain_domain }}
          config:
            configFile: |-
              cookie_secret="{{ .Values.dex.oauth2.cookie_secret }}"
              cookie_domains=".{{ .Values.captain_domain }}"
              whitelist_domains=[".{{ .Values.captain_domain }}"]
              client_id="oauth2-proxy"
              client_secret="{{ .Values.dex.oauth2.client_secret }}"
              # Changed to true since Traefik is providing HTTPS at the edge
              cookie_secure=true
              email_domains=[ "*" ]
              redirect_url="https://oauth2.{{ .Values.captain_domain }}/oauth2/callback"
              upstreams=[ "static://204" ]
              provider="oidc"
              set_xauthrequest=true
              cookie_csrf_per_request=true
              prompt="select_account"
              skip_oidc_discovery="true"
              oidc_issuer_url="https://dex.{{ .Values.captain_domain }}"
              login_url="https://dex.{{ .Values.captain_domain }}/auth"
              redeem_url="https://dex.{{ .Values.captain_domain }}/token"
              oidc_jwks_url="https://dex.{{ .Values.captain_domain }}/keys"
